# Frage 4: In welchem der letzten 10 Jahre hat Tim Burton bei den meisten Filmen Regie geführt?

In [1]:
import urllib.request
import gzip
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
url_data_crew = "https://datasets.imdbws.com/title.crew.tsv.gz"
url_data_year = "https://datasets.imdbws.com/title.basics.tsv.gz"

In [33]:
title_crew_file = "title_crew_file.csv", url_data_crew
title_year_file = "title_year_file.csv", url_data_year

In [34]:
urllib.request.urlretrieve(title_crew_file[1], title_crew_file[0])
urllib.request.urlretrieve(title_year_file[1], title_year_file[0])

('title_year_file.csv', <http.client.HTTPMessage at 0x1b11f93a550>)

In [35]:
crew = pd.read_csv(title_crew_file[0], compression = 'gzip', sep = "\t")
year = pd.read_csv(title_year_file[0], compression = 'gzip', sep = "\t")

C:\Users\neust\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [20]:
crew

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
8992161  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8992162  tt9916850  nm5519375,nm5519454  nm6182221,nm1628284,nm2921377
8992163  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8992164  tt9916856           nm10538645                      nm6951431
8992165  tt9916880            nm0996406            nm1482639,nm2586970

[8992166 rows x 3 columns]

In [30]:
directorname = crew[crew["directors"] == "nm0000318"]
#director = directorname.tconst
#director

In [31]:
print(directorname)

             tconst  directors  \
83029     tt0084868  nm0000318
85387     tt0087291  nm0000318
87826     tt0089791  nm0000318
92637     tt0094721  nm0000318
94760     tt0096895  nm0000318
97286     tt0099487  nm0000318
101480    tt0103776  nm0000318
107245    tt0109707  nm0000318
114313    tt0116996  nm0000318
122304    tt0125603  nm0000318
129464    tt0133152  nm0000318
157425    tt0162661  nm0000318
239072    tt0249567  nm0000318
282390    tt0294940  nm0000318
296457    tt0309721  nm0000318
305460    tt0319061  nm0000318
352290    tt0367594  nm0000318
383631    tt0400231  nm0000318
391423    tt0408236  nm0000318
488485    tt0508431  nm0000318
1049946   tt1014759  nm0000318
1398794   tt1077368  nm0000318
1673995   tt1126590  nm0000318
1764656   tt1142977  nm0000318
2861108  tt13443470  nm0000318
3208866  tt14077386  nm0000318
3208871  tt14077394  nm0000318
3208872  tt14077396  nm0000318
3208875  tt14077400  nm0000318
3208876  tt14077402  nm0000318
3208877  tt14077404  nm0000318
3208878  tt14077406  nm0000318
3208879  tt14077408  nm0000318
5026051   tt1935859  nm0000318
5238411   tt2033231  nm0000318
5266633   tt2049403  nm0000318
6255409   tt3861390  nm0000318
6843050   tt5186094  nm0000318
6843051   tt5186096  nm0000318
6843053   tt5186100  nm0000318
6843056   tt5186106  nm0000318
6843060   tt5186114  nm0000318
7734937   tt7185442  nm0000318
7734971   tt7185512  nm0000318
7734997   tt7185564  nm0000318
7735047   tt7185664  nm0000318
7735093   tt7185756  nm0000318
7735097   tt7185764  nm0000318

                                                   writers
83029                                            nm0000318
85387                                  nm0000318,nm0728125
87826                        nm0367005,nm0000607,nm0889962
92637                        nm0568313,nm0933733,nm0803730
94760                        nm0004170,nm0358334,nm0803730
97286                                  nm0000318,nm0003031
101480                       nm0004170,nm0914058,nm0358334
107245                       nm0340674,nm0018735,nm0438989
114313   nm0114083,nm0312481,nm0940071,nm0694035,nm0766...
122304                       nm0193567,nm0038660,nm9832118
129464             nm0099541,nm0115310,nm0465199,nm0742797
157425                       nm0410331,nm0944892,nm0001825
239072             nm0382997,nm0000318,nm0342278,nm0342303
282390                                           nm0000318
296457                                 nm0920229,nm0000318
305460                                 nm1180620,nm0041864
352290                                 nm0001094,nm0041864
383631                                 nm0000318,nm2565598
391423                       nm0517589,nm0923839,nm0093904
488485                       nm0001969,nm0568313,nm0933733
1049946                                nm0941314,nm0140902
1398794                      nm0334381,nm0041864,nm0193303
1673995                                nm0018735,nm0438989
1764656                      nm0728125,nm0000318,nm0041864
2861108  nm0011623,nm0332184,nm0587692,nm1547852,nm0086...
3208866                      nm0011623,nm0332184,nm0587692
3208871                      nm0011623,nm0332184,nm0587692
3208872            nm0011623,nm1547852,nm0332184,nm0587692
3208875            nm0011623,nm1547852,nm0332184,nm0587692
3208876            nm0011623,nm0086194,nm0332184,nm0587692
3208877            nm0011623,nm0086194,nm0332184,nm0587692
3208878                      nm0011623,nm0332184,nm0587692
3208879            nm0011623,nm0332184,nm1479457,nm0587692
5026051                                nm2207353,nm0963359
5238411                                                 \N
5266633  nm0334381,nm0441899,nm0568313,nm3428500,nm0933733
6255409                      nm0472567,nm0008673,nm2927785
6843050                                                 \N
6843051                                                 \N
6843053                                                 \N
6843056                                                 \N
6843060                                                 \N
7734937                                          nm0000318
7734971                                          nm0000318
7734997                                          nm0000318
7735047                                          nm0000318
7735093                                          nm0000318
7735097                                          nm0000318

In [36]:
year

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8992161,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8992162,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8992163,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8992164,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8992165,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [58]:
#directorname = crew[crew["directors"] == "nm0000318"]
year["tconst"] = "tt0084868"

In [50]:
year["endYear"].min()

'1906'

In [57]:
year["startYear"].max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0          1894
1          1892
2          1892
3          1892
4          1893
           ...
8992161    2010
8992162    2010
8992163    2010
8992164    2015
8992165    2014
Name: startYear, Length: 8992166, dtype: object>